name: Terraria Server Check

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - run: python check_server.py ${{TERRARIA_IP}} ${{TERRARIA_PORT}} ${{TERRARIA_STRING}}
        continue-on-error: true
      
      - run: |
          git config user.email "otaku3kiwi@gmail.com"
          git config user.name "Server Status Bot"
          git add terraria_server_status
          git diff --staged --quiet || git commit -m "Update status"
          git push
      
      - if: always()
        run: cat status.txt
